* {
    margin: 0%;
}

body {
    font-family: Inria Sans;
    background-image: url('../assets/images/neom-qGH25zv5xMk-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: Atomic Age;
}

h4 {
    color: rgb(255, 255, 255);
}

.m-0,
h4 {
    text-shadow: -0.2rem 0.2rem 0.2rem rgb(0, 0, 0);
}

.bg-primary {
    background-image: linear-gradient(to bottom, rgb(39, 66, 82), rgba(39, 66, 82, 0.74), rgba(39, 66, 82, 0.447), rgba(39, 66, 82, 0.037), rgba(39, 66, 82, 0));
}

.front-page {
    background-color: rgba(0, 0, 0, 0.358);
    padding: 10%;
}

.front-page h3,
.front-page p {
    font-family: Inria Sans;
    color: rgb(223, 223, 223);
}

.front-page h3 {
    font-variant: small-caps;
}

div {
    font-family: Inria Sans;
}

h3 {
    color: #2d3e50 !important;
    font-weight: bold;
}

footer.bg-primary {
    background-color: #2d3e50 !important;
}
